body {
  background: #000;
}
h3 {
  font-weight: 100;
}
p {
  font-weight: 900;
}
p.imcyc {
  font-weight: 800;
}
p.texto {
  font-size: 0.7em;
  padding: 0 120px;
}
.carousel-item img {
  height: 100vh;
}
.carousel-caption {
  text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn-dark {
  font-weight: 100;
    padding: 20px 100px;
    background: transparent;
    border: none;
    background: rgba(0,0,0,0.5);
    border-radius: 0;
    font-size: 1em;
}
img.logo {
  width: 170px;
  height: 50px;
  margin-bottom: 20px;
}