.App-header {
  background: rgb(25,112,143);
background: linear-gradient(189deg, rgba(25,112,143,1) 0%, rgba(4,23,36,1) 100%);
}
.introduccion {
  width: 100%;
}
h1 {
  font-weight: 100;
  text-transform: uppercase;
}
h2 {
  padding-top: 20px;
}
a {
  transition: all 1s;
}
a:hover {
  text-decoration: none;
  color: #dedede;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 50px;
}
.item {
  width: 20%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  display: flex;
  justify-content: top;
  flex-direction: column;
  text-align: center;
}
.item p {
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
}
.introduccion h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.introduccion h2 {
  font-size: 0.7em;
  margin-bottom: 50px;
  font-weight: 300;
}
.item h2 {
  font-weight: 100;
  font-size: 0.5em;
  margin-bottom: 0;;
}
.item .fa {
  margin-top: 20px;
}
.svgprensa, .svgplanta, .svglaboratorio, .svgrevolvedora, .svgredcyc, .svgautoconstruccion, .svgdeacero, .svgbolsa {
  width:2.5em;
  height: 2.5em;
  padding:10px;
  border:2px solid #fff;
  margin:0 auto;
  border-radius:50%;
  box-shadow:0 0 10px #000;
  transition: all 1s;
  cursor: pointer;
  fill: #dedede;
  cursor: pointer;
}

.svgprensa:hover, .svgplanta:hover, .svglaboratorio:hover, .svgrevolvedora:hover, .svgredcyc:hover, .svgdeacero:hover, .svgbolsa:hover {
  fill: #ffffff;
  background: #1a75a1;
  border:2px solid #ffffff;
}
.svgprensa .cls-1 {
  fill: #fff;
}
h3 {
  font-weight: 900;
  font-size: 0.5em;
}